{% extends 'base.html' %}
{% block body %}
    <h1>About Us</h1>
    <p>Welcome to Calc, where mathematical expressions meet simplicity and precision! Our calculator is more than just a tool; it's your go-to companion for tackling complex expressions effortlessly.</p>
    <h2>Why Choose Calc?</h2>
    <p>Versatile Functionality: Calc is equipped with a comprehensive set of features, from basic arithmetic operations (+, -, *, /) to advanced functionalities like exponentiation (^) and support for parentheses. Whether you're a student, professional, or math enthusiast, our calculator caters to your diverse needs.</p>
    <p>User-Friendly Interface: We believe in making math accessible to everyone. Our intuitive interface ensures that you can input expressions seamlessly, allowing you to focus on the math itself rather than struggling with the tool.</p>
    <p>Precision at Your Fingertips: Accuracy matters, and Calc delivers. Enjoy precise calculations with every input, giving you confidence in your results, whether you're working on homework, business calculations, or any other mathematical task.</p>
    <p>Responsive Design: Access Calc from any device with ease. Our responsive design ensures a seamless experience on desktops, tablets, and mobile devices, so you can crunch numbers on the go.</p>    
    {% endblock body %}